/*!
 * 东久后台系统样式表
 * Dongjiu v1.0.0
 *   Author: jxi
 *   Date: 2016-12-28
!*/
.dj-content-wrapper
{
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 0px;
    z-index: 820;
}

.dj-content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}

.form-control-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

input[type="radio"],input[type="checkbox"] {margin:-2px 3px;*margin-top:1px;}